body {
  margin:0px;
  background-color:rgba(0, 0, 0, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1080px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u60_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:1084px;
  height:3354px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:3350px;
}
#u61 {
  position:absolute;
  left:2px;
  top:1667px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u63_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:389px;
  height:41px;
}
#u63 {
  position:absolute;
  left:384px;
  top:52px;
  width:385px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:32px;
  text-align:center;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  white-space:nowrap;
}
#u65_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:393px;
  height:173px;
}
#u65 {
  position:absolute;
  left:102px;
  top:149px;
  width:389px;
  height:169px;
  font-size:14px;
  color:#999999;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:389px;
  word-wrap:break-word;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:416px;
  height:315px;
}
#u67 {
  position:absolute;
  left:530px;
  top:172px;
  width:416px;
  height:315px;
}
#u68 {
  position:absolute;
  left:2px;
  top:150px;
  width:412px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:43px;
}
#u70 {
  position:absolute;
  left:103px;
  top:667px;
  width:56px;
  height:43px;
  color:#0099FF;
}
#u71 {
  position:absolute;
  left:2px;
  top:14px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:145px;
  height:20px;
}
#u72 {
  position:absolute;
  left:189px;
  top:646px;
  width:141px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFCC66;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u74_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:344px;
  height:90px;
}
#u74 {
  position:absolute;
  left:188px;
  top:666px;
  width:340px;
  height:86px;
  font-size:14px;
  color:#999999;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  word-wrap:break-word;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:70px;
}
#u77 {
  position:absolute;
  left:856px;
  top:1026px;
  width:80px;
  height:70px;
}
#u78 {
  position:absolute;
  left:2px;
  top:27px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:131px;
  height:20px;
}
#u79 {
  position:absolute;
  left:691px;
  top:1014px;
  width:127px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#4AADF5;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u81_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:322px;
  height:90px;
}
#u81 {
  position:absolute;
  left:538px;
  top:1033px;
  width:318px;
  height:86px;
  font-size:14px;
  color:#999999;
}
#u82 {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u84 {
  position:absolute;
  left:102px;
  top:1443px;
  width:70px;
  height:70px;
}
#u85 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u86_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:201px;
  height:20px;
}
#u86 {
  position:absolute;
  left:188px;
  top:1435px;
  width:197px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#1ED9C5;
}
#u87 {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  white-space:nowrap;
}
#u88_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:345px;
  height:90px;
}
#u88 {
  position:absolute;
  left:187px;
  top:1455px;
  width:341px;
  height:86px;
  font-size:14px;
  color:#999999;
}
#u89 {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  word-wrap:break-word;
}
#u90 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u91 {
  position:absolute;
  left:866px;
  top:2208px;
  width:70px;
  height:70px;
  text-align:left;
}
#u92 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u93_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:131px;
  height:20px;
}
#u93 {
  position:absolute;
  left:722px;
  top:2189px;
  width:127px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FDC14A;
}
#u94 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u95_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:230px;
  height:90px;
}
#u95 {
  position:absolute;
  left:627px;
  top:2208px;
  width:226px;
  height:86px;
  font-size:14px;
  color:#999999;
}
#u96 {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u98 {
  position:absolute;
  left:102px;
  top:2517px;
  width:70px;
  height:70px;
}
#u99 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u100_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:117px;
  height:20px;
}
#u100 {
  position:absolute;
  left:188px;
  top:2497px;
  width:113px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFA569;
}
#u101 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u102_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:762px;
  height:90px;
}
#u102 {
  position:absolute;
  left:187px;
  top:2517px;
  width:758px;
  height:86px;
  font-size:14px;
  color:#999999;
}
#u103 {
  position:absolute;
  left:0px;
  top:0px;
  width:758px;
  word-wrap:break-word;
}
#u104_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:343px;
  height:79px;
}
#u104 {
  position:absolute;
  left:189px;
  top:788px;
  width:339px;
  height:75px;
  font-size:14px;
  color:#999999;
}
#u105 {
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  word-wrap:break-word;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:195px;
}
#u106 {
  position:absolute;
  left:563px;
  top:666px;
  width:379px;
  height:195px;
}
#u107 {
  position:absolute;
  left:2px;
  top:90px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:337px;
}
#u108 {
  position:absolute;
  left:189px;
  top:901px;
  width:224px;
  height:337px;
}
#u109 {
  position:absolute;
  left:2px;
  top:160px;
  width:220px;
  visibility:hidden;
  word-wrap:break-word;
}
#u110 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u111 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u112_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:61px;
  height:20px;
}
#u112 {
  position:absolute;
  left:196px;
  top:2133px;
  width:57px;
  height:16px;
  color:#FDC14A;
}
#u113 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u114_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:9px;
  height:18px;
}
#u114 {
  position:absolute;
  left:188px;
  top:2134px;
  width:5px;
  height:14px;
}
#u115 {
  position:absolute;
  left:2px;
  top:-1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u116 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u117_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:61px;
  height:20px;
}
#u117 {
  position:absolute;
  left:195px;
  top:2214px;
  width:57px;
  height:16px;
  color:#FDC14A;
}
#u118 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u119_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:9px;
  height:18px;
}
#u119 {
  position:absolute;
  left:188px;
  top:2216px;
  width:5px;
  height:14px;
}
#u120 {
  position:absolute;
  left:2px;
  top:-1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u121 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u122_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:61px;
  height:20px;
}
#u122 {
  position:absolute;
  left:196px;
  top:2307px;
  width:57px;
  height:16px;
  color:#FDC14A;
}
#u123 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u124_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:9px;
  height:18px;
}
#u124 {
  position:absolute;
  left:190px;
  top:2308px;
  width:5px;
  height:14px;
}
#u125 {
  position:absolute;
  left:2px;
  top:-1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u126 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:34px;
}
#u127 {
  position:absolute;
  left:192px;
  top:2157px;
  width:122px;
  height:34px;
}
#u128 {
  position:absolute;
  left:2px;
  top:9px;
  width:118px;
  visibility:hidden;
  word-wrap:break-word;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:28px;
}
#u129 {
  position:absolute;
  left:343px;
  top:2160px;
  width:80px;
  height:28px;
}
#u130 {
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:29px;
}
#u131 {
  position:absolute;
  left:465px;
  top:2158px;
  width:102px;
  height:29px;
}
#u132 {
  position:absolute;
  left:2px;
  top:6px;
  width:98px;
  visibility:hidden;
  word-wrap:break-word;
}
#u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:71px;
}
#u133 {
  position:absolute;
  left:236px;
  top:2232px;
  width:75px;
  height:71px;
}
#u134 {
  position:absolute;
  left:2px;
  top:28px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:72px;
}
#u135 {
  position:absolute;
  left:327px;
  top:2232px;
  width:82px;
  height:72px;
}
#u136 {
  position:absolute;
  left:2px;
  top:28px;
  width:78px;
  visibility:hidden;
  word-wrap:break-word;
}
#u137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:75px;
}
#u137 {
  position:absolute;
  left:425px;
  top:2232px;
  width:87px;
  height:75px;
}
#u138 {
  position:absolute;
  left:2px;
  top:30px;
  width:83px;
  visibility:hidden;
  word-wrap:break-word;
}
#u139_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:58px;
  height:58px;
}
#u139 {
  position:absolute;
  left:194px;
  top:2331px;
  width:54px;
  height:54px;
  color:#FDC14A;
}
#u140 {
  position:absolute;
  left:2px;
  top:19px;
  width:50px;
  word-wrap:break-word;
}
#u141_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:58px;
  height:58px;
}
#u141 {
  position:absolute;
  left:296px;
  top:2331px;
  width:54px;
  height:54px;
  color:#FDC14A;
}
#u142 {
  position:absolute;
  left:2px;
  top:19px;
  width:50px;
  word-wrap:break-word;
}
#u143_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:58px;
  height:58px;
}
#u143 {
  position:absolute;
  left:400px;
  top:2331px;
  width:54px;
  height:54px;
  color:#FDC14A;
}
#u144 {
  position:absolute;
  left:2px;
  top:19px;
  width:50px;
  word-wrap:break-word;
}
#u145_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:58px;
  height:58px;
}
#u145 {
  position:absolute;
  left:503px;
  top:2331px;
  width:54px;
  height:54px;
  color:#FDC14A;
}
#u146 {
  position:absolute;
  left:2px;
  top:11px;
  width:50px;
  word-wrap:break-word;
}
#u147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:337px;
}
#u147 {
  position:absolute;
  left:631px;
  top:1275px;
  width:225px;
  height:337px;
}
#u148 {
  position:absolute;
  left:2px;
  top:160px;
  width:221px;
  visibility:hidden;
  word-wrap:break-word;
}
#u149_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:366px;
  height:68px;
}
#u149 {
  position:absolute;
  left:188px;
  top:1605px;
  width:362px;
  height:64px;
  font-size:14px;
  color:#999999;
}
#u150 {
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  word-wrap:break-word;
}
#u151_img {
  position:absolute;
  left:-3px;
  top:-3px;
  width:849px;
  height:8px;
}
#u151 {
  position:absolute;
  left:103px;
  top:607px;
  width:842px;
  height:1px;
}
#u152 {
  position:absolute;
  left:2px;
  top:-8px;
  width:838px;
  visibility:hidden;
  word-wrap:break-word;
}
#u153_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:69px;
  height:23px;
}
#u153 {
  position:absolute;
  left:508px;
  top:578px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u154 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u155_img {
  position:absolute;
  left:-3px;
  top:-3px;
  width:857px;
  height:8px;
}
#u155 {
  position:absolute;
  left:103px;
  top:3176px;
  width:850px;
  height:1px;
}
#u156 {
  position:absolute;
  left:2px;
  top:-8px;
  width:846px;
  visibility:hidden;
  word-wrap:break-word;
}
#u157_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:69px;
  height:23px;
}
#u157 {
  position:absolute;
  left:477px;
  top:3147px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u158 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u159_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:854px;
  height:104px;
}
#u159 {
  position:absolute;
  left:103px;
  top:3187px;
  width:850px;
  height:100px;
  font-size:14px;
  color:#999999;
}
#u160 {
  position:absolute;
  left:0px;
  top:0px;
  width:850px;
  word-wrap:break-word;
}
#u161_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:69px;
  height:23px;
}
#u161 {
  position:absolute;
  left:102px;
  top:120px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u162 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u163_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:69px;
  height:23px;
}
#u163 {
  position:absolute;
  left:102px;
  top:324px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u164 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u165_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:408px;
  height:79px;
}
#u165 {
  position:absolute;
  left:103px;
  top:386px;
  width:404px;
  height:75px;
  font-size:14px;
  color:#999999;
}
#u166 {
  position:absolute;
  left:0px;
  top:0px;
  width:404px;
  word-wrap:break-word;
}
#u167_img {
  position:absolute;
  left:0px;
  top:0px;
  width:572px;
  height:393px;
}
#u167 {
  position:absolute;
  left:224px;
  top:1651px;
  width:572px;
  height:393px;
}
#u168 {
  position:absolute;
  left:2px;
  top:188px;
  width:568px;
  visibility:hidden;
  word-wrap:break-word;
}
#u169_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:279px;
}
#u169 {
  position:absolute;
  left:388px;
  top:2677px;
  width:280px;
  height:279px;
}
#u170 {
  position:absolute;
  left:2px;
  top:132px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u171_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:103px;
  height:20px;
}
#u171 {
  position:absolute;
  left:741px;
  top:2687px;
  width:99px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#8FBD1F;
}
#u172 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u173_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:61px;
  height:20px;
}
#u173 {
  position:absolute;
  left:741px;
  top:2710px;
  width:57px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#8FBD1F;
}
#u174 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u175_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:61px;
  height:20px;
}
#u175 {
  position:absolute;
  left:741px;
  top:2732px;
  width:57px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#8FBD1F;
}
#u176 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u177_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:61px;
  height:20px;
}
#u177 {
  position:absolute;
  left:741px;
  top:2755px;
  width:57px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#8FBD1F;
}
#u178 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u179_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:61px;
  height:20px;
}
#u179 {
  position:absolute;
  left:741px;
  top:2777px;
  width:57px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#8FBD1F;
}
#u180 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u181_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:61px;
  height:20px;
}
#u181 {
  position:absolute;
  left:741px;
  top:2799px;
  width:57px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#8FBD1F;
}
#u182 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u183_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:75px;
  height:20px;
}
#u183 {
  position:absolute;
  left:741px;
  top:2822px;
  width:71px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#8FBD1F;
}
#u184 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u185_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:89px;
  height:20px;
}
#u185 {
  position:absolute;
  left:741px;
  top:2880px;
  width:85px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#BCD77A;
}
#u186 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u187_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:103px;
  height:20px;
}
#u187 {
  position:absolute;
  left:741px;
  top:2903px;
  width:99px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#BCD77A;
}
#u188 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u189_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:61px;
  height:20px;
}
#u189 {
  position:absolute;
  left:224px;
  top:2881px;
  width:57px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#BCD77A;
}
#u190 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u191_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:61px;
  height:20px;
}
#u191 {
  position:absolute;
  left:224px;
  top:2904px;
  width:57px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#BCD77A;
}
#u192 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u193_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:89px;
  height:20px;
}
#u193 {
  position:absolute;
  left:227px;
  top:2787px;
  width:85px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#5EB9E8;
}
#u194 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u195_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:61px;
  height:20px;
}
#u195 {
  position:absolute;
  left:227px;
  top:2753px;
  width:57px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#5EB9E8;
}
#u196 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u197_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:75px;
  height:20px;
}
#u197 {
  position:absolute;
  left:227px;
  top:2720px;
  width:71px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#5EB9E8;
}
#u198 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u199_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:89px;
  height:20px;
}
#u199 {
  position:absolute;
  left:227px;
  top:2692px;
  width:85px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#5EB9E8;
}
#u200 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u201_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:373px;
  height:53px;
}
#u201 {
  position:absolute;
  left:344px;
  top:2966px;
  width:369px;
  height:49px;
  color:#FFA569;
}
#u202 {
  position:absolute;
  left:2px;
  top:16px;
  width:365px;
  word-wrap:break-word;
}
#u203_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:439px;
  height:53px;
}
#u203 {
  position:absolute;
  left:306px;
  top:2613px;
  width:435px;
  height:49px;
  color:#FFA569;
}
#u204 {
  position:absolute;
  left:2px;
  top:16px;
  width:431px;
  word-wrap:break-word;
}
#u205_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:61px;
  height:20px;
}
#u205 {
  position:absolute;
  left:741px;
  top:2929px;
  width:57px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#BCD77A;
}
#u206 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u207_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:91px;
  height:20px;
}
#u207 {
  position:absolute;
  left:224px;
  top:2930px;
  width:87px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#BCD77A;
}
#u208 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u209_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:408px;
  height:29px;
}
#u209 {
  position:absolute;
  left:103px;
  top:353px;
  width:404px;
  height:25px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u210 {
  position:absolute;
  left:0px;
  top:0px;
  width:404px;
  word-wrap:break-word;
}
